body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #ddd;
  background-image: url('../images/dirt-ground.jpg'); /*  your background image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 75px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* darker overlay for readability */
  z-index: -1;
}